extends layout

block content
  h2 
  div(id="topJournal")
    form(method='POST' action='searchTechnical')
              input(type='text' name='searchSubject' placeholder='Enter Keyword')
              button.btn.btn-primary(type='submit' id="submit") Search Records
    h2 !{title}
    form(method='POST' action='addEmailToSub')
              input(type='email' name='Email' placeholder='Enter Email')
              button.btn.btn-primary(type='submit' id="submit") Subscribe
  if !searched
    div(id="jArticlesContainer")
        each val in aList
            div(class="jArticle")
                if val.Record.blocks[0].type == 'header'
                   div= val.Record.blocks[0].data.text
                else if val.Record.blocks[1].type == 'header'
                  div= val.Record.blocks[1].data.text
                else
                   div= val.Record.blocks[0].data.text
                if val.Record.blocks[1].type == 'image'
                   img(src='/images/'+val.Record.blocks[1].imageName)
                a(href=val.url) read more
  else
    p you searched for  #{searchSubject}
    div(id="jArticlesContainer")
        each val in aList
            if JSON.stringify(val).includes(searchSubject)
                div(class="jArticle")
                  if val.Record.blocks[0].type == 'header'
                    div= val.Record.blocks[0].data.text
                  else if val.Record.blocks[1].type == 'header'
                    div= val.Record.blocks[1].data.text
                  else
                    div= val.Record.blocks[0].data.text
                  if val.Record.blocks[1].type == 'image'
                    img(src='/images/'+val.Record.blocks[1].imageName)
                  a(href=val.url) read more




 