extends layoutForDet

block content
  each ref in record.Record.blocks
    if ref.type == 'image'
        img(src='/images/'+ref.imageName class="articalImg")
    else if ref.type == 'header'
        h2= ref.data.text
    else if ref.type == 'paragraph'
        p= ref.data.text
    else if ref.type == 'table'
        table(style='width:100%', border='1')
          each row in ref.data.content
            tr
              td= row[0]
              td= row[1]
    else if ref.type == 'code'
        pre
          code=ref.data.code 
    else if ref.type == 'list' && ref.data.style == "unordered"
      ul
        each elem in ref.data.items
         li= elem
    else if ref.type == 'list' && ref.data.style == "ordered"
      ol
        each elem in ref.data.items
          li= elem
  input(type="text" id="updateText") 
  input(type="button" value="update" id="updateButton")
  script(type='text/javascript' src="/javascripts/update.js") 
  